name: Open new issue

on:
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  open-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Create issue
        run: |
          gh issue --repo "${{ github.repository }}" \
            create --title "Issue title" --body "Issue body"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
